[Unit]
Description=wpbootstrap
After=rc-local.service network-online.target cloud-config.service basic.target system.slice systemd-journald.socket syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/nohup /usr/bin/wpbootstrap.sh
PIDFile=/var/run/wpbootstrap.pid

[Install]
WantedBy=multi-user.target
